<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title> MY LOGIN </title>

<style type="text/css">
    div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt; background-color: aliceblue }
</style>

<div>
  <h2> MY LOGIN </h2>
  <form method="POST" action="login">
    <p> <input type="text"     name="username"  placeholder="username"            /> </p>
    <p> <input type="text"     name="password"  placeholder="password"            /> </p>
    <p> <input type="checkbox" name="remember-me"                                 /> Remember Me </p>
    <p> <input type="submit"   name="addAuthor" value="Log In" style="width:100%" /> </p>
  </form>
</div>
